.footer{
    width: 100vw;
    height: 400px;
    font-family: "Poppins", serif;
    background-color:grey;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: start;
    gap: 10px;
}
ul{
   padding: 10px;
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: start;
}
li{
    list-style: none;
}
.heading{
    color: darkgoldenrod;
    font-size: 25px;
}